<div class='container-fluid' style='text-align:center;'>
  <h1 class='text'>How Does It Work?</h1><br />
</div>
<div class='row'>
  <div class='col-md-4'>
    <div class='thumbnail'>
      <div class='thick' style='text-align:center;'>
	<h3 style='margin:8px;'>Find a Station</h3>
      </div>
      <%= image_tag "https://mail.google.com/mail/u/0/?ui=2&ik=77b596bbd7&view=att&th=1453db2642a02dec&attid=0.3&disp=emb&zw&atsh=1", :style => 'width:100%;' %>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='thumbnail'>
      <div class='thick' style='text-align:center;'>
	<h3 style='margin:8px;'>Customize Your Work</h3>
      </div>
      <%= image_tag "https://mail.google.com/mail/u/0/?ui=2&ik=77b596bbd7&view=att&th=1453db2642a02dec&attid=0.1&disp=emb&zw&atsh=1", :style => 'width:100%;' %>
    </div>
  </div>
  <div class='col-md-4'>
    
    <div class='thumbnail'>
      <div class='thick' style='text-align:center;'>
	<h3 style='margin:8px;'>See It Made!</h3>
      </div>
      <%= image_tag "https://mail.google.com/mail/u/0/?ui=2&ik=77b596bbd7&view=att&th=1453db2642a02dec&attid=0.2&disp=emb&zw&atsh=1", :style => 'width:100%;' %>
    </div>
  </div>
</div>
