<div class='container-fluid' style='text-align:center;'>
  <h1 class='text'>How Does It Work?</h1><br />
</div>
<div class='row'>
  <div class='col-md-4'>
    <div class='thumbnail'>
      <div class='thick' style='text-align:center;'>
	<h3 style='margin:8px;'>Find a Toy Store</h3>
      </div>
      <%= image_tag "1.jpg", :style => 'width:100%;' %>
    <p class='text'>See if any stores near you carry our Factory-In-A-Store so you can get customized merchandise!</p>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='thumbnail'>
      <div class='thick' style='text-align:center;'>
	<h3 style='margin:8px;'>For Toy Stores</h3>
      </div>
      <%= image_tag "2.jpg", :style => 'width:100%;' %>
      <p class='text'>Want to allow customers a unique experience and gain revenue? Our machines pay for themselves in no time.</p>
    </div>
  </div>
  <div class='col-md-4'>
    
    <div class='thumbnail'>
      <div class='thick' style='text-align:center;'>
	<h3 style='margin:8px;'>Toy Designers</h3>
      </div>
      <%= image_tag "3.jpg", :style => 'width:100%;' %>
    <p class='text'>We want to work with motivated individuals who want to get their work to the world!</p>
    </div>
  </div>
</div>
