<div class='jumbotron' style='background:none;text-align:center;'>
  <h1 class='thick'>The Original Factory in a Store<span style='font-size:.5em'>&#153;</span></h1>
</div>
<%= render 'works' %><br /><br />
<%= render 'contact_form' %>
