<%= menu(image_tag(@site_layout_options.logo) + ' ' + @site_layout_options.title) do %>
  <% Clientalk::Page.all.each do |p| %>
    <li><%= link_to p.name, page_path(p.name.downcase.parameterize) %></li>
  <% end %>
<% end %>

  
